version: 2.1

step-library:
  - &install-swiftlint
       run:
         name: Install SwiftLint
         command: |
          curl -OL "https://github.com/realm/SwiftLint/releases/download/0.43.1/SwiftLint.pkg"
          echo "e05a054ae15c968ab40bc8537a8afe598ab2d7af  SwiftLint.pkg" | shasum -c -
          sudo installer -pkg SwiftLint.pkg -target /

jobs:
  build-job:
    parameters:
      xcode:
        type: string
        default: "12.2"
      device:
        type: string
        default: "iPhone 8 Plus"
      ios:
        type: string
        default: "14.1"
    macos:
      xcode: << parameters.xcode >>
    steps:
      - checkout
      - run:
          name: Prepare .netrc file
          command: |
            echo "machine api.mapbox.com" >> ~/.netrc
            echo "login mapbox" >> ~/.netrc
            echo "password $SDK_REGISTRY_TOKEN" >> ~/.netrc
      - run:
          name: Install Dependencies
          command: pod install
      - *install-swiftlint
      - run:
          name: Navigation-Examples
          command: xcodebuild -workspace Navigation-Examples.xcworkspace -scheme Navigation-Examples -sdk iphonesimulator -configuration Release -destination "platform=iOS Simulator,name=<< parameters.device >>,OS=<< parameters.ios >>" clean build
      - run:
          name: DocsCode
          command: xcodebuild -workspace Navigation-Examples.xcworkspace -scheme DocsCode -sdk iphonesimulator -configuration Release -destination "platform=iOS Simulator,name=<< parameters.device >>,OS=<< parameters.ios >>" clean build

workflows:
  workflow:
    jobs:
      - build-job:
          name: "Xcode_12.4_iOS_14.4"
          xcode: "12.4.0"
          ios: "14.4"
          device: "iPhone 11 Pro"