version: 2.1

commands:
  install-mbx-ci:
    steps:
      - run:
          name: "Install MBX CI"
          command: |
            curl -Ls https://mapbox-release-engineering.s3.amazonaws.com/mbx-ci/latest/mbx-ci-darwin-amd64 > /usr/local/bin/mbx-ci
            chmod 755 /usr/local/bin/mbx-ci

step-library:
  - &install-swiftlint
       run:
         name: Install SwiftLint
         command: |
          curl -OL "https://github.com/realm/SwiftLint/releases/download/0.43.1/SwiftLint.pkg"
          echo "e05a054ae15c968ab40bc8537a8afe598ab2d7af  SwiftLint.pkg" | shasum -c -
          sudo installer -pkg SwiftLint.pkg -target /

jobs:
  build-job:
    parameters:
      xcode:
        type: string
        default: "14.2.0"
      device:
        type: string
        default: "iPhone 13 Pro"
      ios:
        type: string
        default: "15.5"
    macos:
      xcode: << parameters.xcode >>
    steps:
      - checkout
      - run:
          name: Prepare .netrc file
          command: |
            echo "machine api.mapbox.com" >> ~/.netrc
            echo "login mapbox" >> ~/.netrc
            echo "password $SDK_REGISTRY_TOKEN" >> ~/.netrc
            chmod 600 ~/.netrc
      - run:
          name: Install Dependencies
          command: pod install
      - *install-swiftlint
      - run:
          name: Navigation-Examples
          command: xcodebuild -workspace Navigation-Examples.xcworkspace -scheme Navigation-Examples -sdk iphonesimulator -configuration Release -destination "platform=iOS Simulator,name=<< parameters.device >>,OS=<< parameters.ios >>" clean build
      - run:
          name: DocsCode
          command: xcodebuild -workspace Navigation-Examples.xcworkspace -scheme DocsCode -sdk iphonesimulator -configuration Release -destination "platform=iOS Simulator,name=<< parameters.device >>,OS=<< parameters.ios >>" clean build

  update-version-job:
    parameters:
      xcode:
        type: string
        default: "14.2.0"
    macos:
      xcode: << parameters.xcode >>
    steps:
      - checkout
      - run:
          name: Prepare .netrc file
          command: |
            echo "machine api.mapbox.com" >> ~/.netrc
            echo "login mapbox" >> ~/.netrc
            echo "password $SDK_REGISTRY_TOKEN" >> ~/.netrc
            chmod 600 ~/.netrc
      - install-mbx-ci
      - run:
          name: Add GitHub to known hosts
          command: |
            for ip in $(dig @8.8.8.8 github.com +short); do ssh-keyscan github.com,$ip; ssh-keyscan $ip; done 2>/dev/null >> ~/.ssh/known_hosts
      - run:
          name: Update Dependencies
          command: pod update
      - run:
          name: Publish update
          command: |
            export GITHUB_WRITER_TOKEN=$(mbx-ci github writer public token)
            git remote set-url origin "https://x-access-token:$GITHUB_WRITER_TOKEN@github.com/mapbox/mapbox-navigation-ios-examples"
            git config --global user.email no-reply@mapbox.com && git config --global user.name mapbox-ci
            VERSION=$( echo << pipeline.git.branch >> | sed 's/^trigger-update-version-//' )
            ./Scripts/update-version.sh $VERSION

workflows:
  update-version-workflow:
    jobs:
      - update-version-job:
          filters:
            branches:
              only: /^trigger-update-version-.*/
  workflow:
    jobs:
      - build-job:
          name: "Xcode_14.2.0_iOS_15.5"
          xcode: "14.2.0"
          ios: "15.5"
          device: "iPhone 13 Pro"
      - build-job:
          name: "Xcode_15.0.0_iOS_17.0"
          xcode: "15.0.0"
          ios: "17.0"
          device: "iPhone 14 Pro"
